/*background-color*/
.bg-primary-main {
  background-color: #1687A7 !important;
}

.bg-primary-dark {
  background-color: #276678 !important;
}

.bg-primary-gray {
  background-color: #f6f6f6 !important;
}

.bg-blue-light {
  background-color: #D3E0EA !important;
}

.bg-primary-main-hover {
  background-color: aquamarine;
}

.bg-danger{
  background-color: #A62412 !important;
}
/*text color*/

.color-primary-main {
  color: #1687A7 !important;
}

.color-blue-dark {
  color: #276678 !important;
}

.text-danger{
  color: #A62412 !important;
}
/*border*/
.border-primary-main {
  border: 1px solid #1687A7 !important;
}
.border-bottom-primary-main {
  border-bottom: 1px solid #1687A7 !important;
}

/*event*/
button.bg-primary-main:hover, .option-setting:hover {
  background-color: #9DC1DC !important;
}

button.bg-primary-main:active, .option-setting:active {
  background-color: #BAD1E4 !important;
}

/*custom modal*/
.modal-content {
  border-radius: 20px !important;
  padding-bottom: 50px;
  padding-bottom: 0px;
}


/*header*/
.avatar.dropdown-toggle::after{
  content:none;
}
a.dropdown-item:hover{
  background-color: #9DC1DC;
}
a.dropdown-item:active{
  background-color: #1687A7;
}

/*check*/
input.form-check-input{
  border: 2px solid #1687A7;
}
.form-check-input[type=checkbox] {
  border-radius: 50px !important;
}
.form-check-input:checked[type=checkbox]{
  background-color: #276678 !important;
  border: 2px solid #1687A7;
  background-image: none !important;
  
  width: 20px;
  height: 20px;
}
/**/
.chatContainer {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

/* Room and users component */
.roomAndUsersColumn {
  border-right: 1px solid #dfdfdf;
}
.usersList li {
  margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
  height: 90vh;
  width: 850px;
  overflow: auto;
  padding: 100px 10px 10px 20px;
}

.message {
  background: rgb(0, 24, 111);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
}

.msgMeta {
  color: rgb(153, 217, 234);
  font-size: 0.75rem;
}

.msgText {
  color: #fff;
}

/* Message input and button */
.sendMessageContainer {
  position: absolute;
  bottom: 0px;
}

.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
}